@font-face {
  font-family: 'Bahnschrift';
  src: url('/fonts/bahnschrift-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit-bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit-extrabold.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
